@import "tailwindcss";

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
  --color-primary: #4D3C73;
  --color-secondary: #FFE39B;
  --color-accent: #FFCDB6;
  --color-light: #F5F5F5;
  --color-dark: #000000;
}

body{
  font-family: var(--font-open-sans), sans-serif;
  background-color:var(--color-light);
}

