.membersTable {
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;
}

.membersTable thead {
  background-color: #f4f4f4;
  border-bottom: 2px solid #ccc;
}

.membersTable th,
.membersTable td {
  padding: 15px;
  text-align: left;
}

.actions {
  display: flex;
  gap: 10px;
  color: #4d3c73;

}

.loadingRow:hover {
  background-color: transparent !important;
  cursor: default;
}


.membersTable tbody tr:hover {
  background-color: #fafafa;
}

.selectedRow {
  background-color: #ede9f3;
}