.searchWrapper {
  position: relative;
  width: 250px;
}

.searchIcon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  font-size: 20px;
  color: #888;
  pointer-events: none;
}

.searchInput {
  width: 100%;
  padding: 8px 12px 8px 36px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}
